@font-face {
    font-family: 'Intro';
    src: url('.../fonts/intro_black.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.container{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-around;
}

h2 {
    font-family: 'Intro';
    font-size: calc(var(--index) * 1.5);
    text-transform: uppercase;
    margin-top: calc(var(--index) * 4);
    margin-bottom: calc(var(--index) * 2);
}

button {
    --button-color: aliceblue;
    transition: 0.3s ease-out;
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 5);
    font-size: calc(var(--index) * 1);
    border-radius: 10em;
    background-color: transparent;
    color: var(--button-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: 'Intro';
}

button:hover {
    transition: 0.3s ease-out;
    width: calc(var(--index) * 23);
}
