* {
    background-color: black;
}

button {
    color: black;
    width: 100%;
    height: 25%;
    font-size: large;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}