.buttonContainer{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 33vw;
    align-items: center;
}

.buttonContainer > button{
    margin: 10px;
    background-color: #2ba369;
    border-radius: 10px;
    color: white;
    height: 70px;
    width: 280px;
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Intro';
    font-size: 24px;
}

.buttonContainer > button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px greenyellow;
}

.buttonContainer > button:active {
    background-color: rgb(6, 99, 6);
}