select {
    border: none;
    /* appearance: none; */
    padding: 0 30px 0 15px;
    width: 50%;
    background-color: #2ba369;

    width: calc(60px + (400 - 60) * ((100vw - 500px) / (2560 - 500)));
    height: calc(30px + (50 - 30) * ((100vh - 500px) / (1440 - 500)));
    
    font-size: calc(9px + (22 - 9) * ((100vw - 500px) / (2560 - 500)));

    border-radius: 10px;
    color: white;
}

option {
    background-color: #1b6441;
}
