input[type="range"] {    
    margin: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 160px;
    cursor: pointer;
    outline: none;
    align-items: center;
    
    height: 40px;
    background: #2ba369;
    border-radius: 10px;
    border: 2px solid black;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 80px;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
    align-content: center;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;

    transition: .2s ease-in-out;
}