@font-face {
    font-family: 'Intro';
    src: url('../fonts/intro_black.ttf') format('truetype');
}

h1 {
    font-size: calc(var(--index) * 3);
    font-family: 'Intro';
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 1);
    text-align: center;
}

.fullSlider > label{
    /* font-size: 20px; */
    font-size: calc(9px + (27 - 9) * ((100vw - 500px) / (2560 - 500)));
    font-family: 'Intro';
}

:root {
    --index: calc(1vw + 1vh);
}

body{
    background-color: black;
    color: white;
    /* display: grid; */
    height: 100vh;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(12, 197, 12) black;
}

.grain {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/mainBG.png');
    background-size: 100%;
    opacity: 0.5;
    filter: blur(30px);
    z-index: -1;
}

.mainAlgorithmUI{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: 70vh;
}

.mainPicture{

    position: relative;
    width: 34vw;
    justify-content: center;
    align-content: center;
}

.mainPicture > canvas, #maze{

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: calc(var(--index) * 18); */
    width: calc(200px + (600 - 200) * ((100vw - 500px) / (2560 - 500)));
}

div#canvasId {
    
    max-width: calc(200px + (700 - 200) * ((100vw - 500px) / (2560 - 500)));
    max-height: calc(200px + (700 - 200) * ((100vw - 500px) / (2560 - 500)));

    position: absolute;
    overflow: hidden;
    position: relative;

    border: 1px solid green;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blob{
    position: absolute;
}