#canvas {
    /* position: absolute;
    display: block; */
    z-index: 1;
}

#canvasPoints{
    /* position: absolute;
    display: block; */
    background-color: rgb(212, 219, 186);
    z-index: 0;
}